APP_PATH build/sample
GRACENOTE_LICENCE_PATH build/license.txt
GRACENOTE_CLIENT_ID 2076017529
GRACENOTE_CLIENT_TAG C29CBDCBC144199105CD4F4FC8DBE0D3
GRACENOTE_WEB_ID 2076017529-C29CBDCBC144199105CD4F4FC8DBE0D3
GIPHY_API_KEY og8tByslRMfWIyghEf6ue1zEObVU0qgq
